{% extends "base.html" %}
{% load static %}

{% block content %}
<!--information management for category-->
{% for c in category %}
    <h2>{{ c.friendly_name }}</h2>
{% endfor %}
<section>
    <div class="container container-fluid">
        <h3>Choose item to edit</h3>
        <hr>
        <div class="row">
            {% for i in info %}
            <div class="col-6">
                <p class="p-3">{{ i.title }} // {{ i.date }}</p>
            </div>
            <div class="col-6 end margin-auto">
                <button class="info-button"><a href="{% url 'edit_info' i.id %}" class="button">Edit</a></button>
                <button class="info-button"><a href="{% url 'delete_info' i.id %}"
                        class="button confirm-delete">Delete</a></button></p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}