{% extends "base.html" %}
{% load static %}

{% block content %}
<!--information management page-->
<h1 class="p-4">Information Management</h1>
<section class="text-center">
    <button class="button-xl"><a href="{% url 'add_info' %}" class="button">New info Item</a></button>
</section>
<section>
    <div class="container container-fluid">
        <h3 class="d-none d-md-block">Choose item to edit</h3>
        <hr>
        <div class="row">
            {% for c in category %}
            <div class="col-12 col-md-6 my-2">
                <div class="card info-card">
                    <div class="card-body">
                        <h3 class="card-title info-card-title">{{ c.friendly_name }}</h3>
                        <hr class="d-none d-md-block info-hr">
                        <div class="padding-5">
                          <p>Display items here with buttons</p>  
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}