{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Texts | Elisabet Stienstra</title>
{% endblock %}

{% block content %}
<!--Texts template-->
<section class="p-4">
    <h1>Texts</h1>
    <div class="container container-fluid">
        {% for i in texts %}
        {% if not i.hide %}
            <div class="row">
            <div class="col-12 p-4">
                <h2 class="text-center xs-heading">{{ i.date | date:"M - Y"}}</h2> 
                <h3 class="text-center">{{ i.title }}</h3>
                <p class="text-start">
                    {{ i.description|safe }}
                    {% if i.url %}
                        <br><p><a href="http://{{ i.url }}" target="_blank">{{ i.url }}</a></p>
                    {% endif %}
                </p>
            </div>
            {% if i.image %}
                {% if i.url %}
                    <div class="col-12 text-center">
                        <a href="http://{{ i.url }}" target="_blank"><img src="{{ i.image.url }}" alt="image of {{ i.title }} news Elisabet Stienstra" class="news-img text-center"></a>
                    </div>
                    {% else %}
                    <div class="col-12 text-center">
                        <img src="{{ i.image.url }}" alt="image of {{ i.title }}" class="news-img text-center">
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <hr>
        {% endif %}
        {% endfor %}
    </div>
</section>
{%endblock %}