{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Texts | Elizabet Stienstra</title>
{% endblock %}

{% block content %}
<!--Texts template-->
<section class="p-4">
    <h1>Texts</h1>
    <div class="container container-fluid">
        {% for i in texts %}
        {% if not i.hide %}
        <!--Image right item-->
        {% if forloop.counter|divisibleby:"2" %}
            <div class="row">
            <div class="col-12 col-md-8 p-4">
                <h2 class="text-end">{{ i.date }} {{ i.title }}</h2>
                <p class="text-end">
                    {{ i.description|safe }}
                    {% if i.url %}
                        <br><p><a href="http://{{ i.url }}" target="_blank">{{ i.url }}</a></p>
                    {% endif %}
                </p>
            </div>
            {% if i.image %}
                {% if i.url %}
                    <div class="col-12 col-md-4 order-first order-md-last">
                        <a href="http://{{ i.url }}" target="_blank"><img src="{{ i.image.url }}" alt="image of {{ i.title }} news Elizabet Stienstra" class="news-img m-auto"></a>
                    </div>
                    {% else %}
                    <div class="col-12 col-md-4 order-first order-md-last">
                        <img src="{{ i.image.url }}" alt="image of {{ i.title }}" class="news-img m-auto">
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <hr>
        {% else %}
        <!--Image left item-->
        <div class="row">
        {% if i.image %}
            {% if i.url %}
                <div class="col-12 col-md-4 text-end">
                    <a href="{{ i.url }}" target="_blank"><img src="{{ i.image.url }}" alt="image of {{ i.title }} news Elizabet Stienstra" class="news-img m-auto"></a>
                </div>
                {% else %}
                <div class="col-12 col-md-4 text-end">
                    <img src="{{ i.image.url }}" alt="image of {{ i.title }}" class="news-img m-auto">
                </div>
            {% endif %}
        {% endif %}
        <div class="col-12 col-md-8 p-4">
            <h2 class="text-start">{{ i.date }} {{ i.title }}</h2>
            <p>
                {{ i.description|safe }}
                {% if i.url %}
                <br><p><a href="{{ i.url }}" target="_blank">{{ i.url }}</a></p>
                {% endif %}
            </p>
        </div>
    </div>
    <hr>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}