{% extends "base.html" %}
{% load static %}

{% block content %}
<!--home management page-->
<h1 class="pt-4">Home Management</h1>
<section>
    <div class="container container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 text-center">
                <h2>Current image</h2>
                <img class="current-image p-4" src="{{ image.image.url }}">
            </div>
            <div class="col-12 col-lg-6 p-4">
                <form action="{% url 'home_management' %}" method="POST" enctype="multipart/form-data" id="add_category_description">
                    {% csrf_token %}
                    <div class="margin-bottom">
                        {{ form | crispy }}
                    </div>
                    <div class="row text-center pt-3 pb-4"> 
                        <div class="col">             
                            <button><a href="{% url 'home' %}" class="button">Undo</a></button><button type="submit" id="submit-button" class="button">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</section>
{% endblock %}