{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Form to add new cv instance-->
<h1 class="p-4">Add cv block</h1>
<div class="container">
    <div class="row">
        <h3>Please fill out the form below to add an item</h3>
        <hr>
        <form action="{% url 'add_cv' %}" method="POST" enctype="multipart/form-data" id="add-cv">
            {% csrf_token %}
            <div class="margin-bottom">
                {{ form.media }}
                {{ form | crispy }}
            </div>
            <div class="m-auto text-center">
                <div class="col">
                    <button onclick="history.back()">Undo</button><button type="submit">Save</button>
                </div>           
            </div>
        </form>
    </div>
</div>
{% endblock %}