{% extends "base.html" %}
{% load static %}

{% block title %}
<title>CV | Elisabet Stienstra</title>
{% endblock %}

{% block content %}
<!--CV template divided in categories-->
    <h1 class="p-4">Curriculum Vitae</h1>
    <div class="container container-fluid">
        <section>
            <h2 class="cv-title">Subheading</h2>
            <hr>
            {% for i in cv %}
            {% if not i.hide %}
            <div class="col-12">
                <p>{{ i.description|safe }}</p>
            </div>
            {% endif %}
            {% endfor %}
        </section>
    </div>
{% endblock %}