{% extends "base.html" %}
{% load static %}

{% block content %}
<!--cv management page-->
<div class="container g-lg-0">
    <h1 class="pt-4 pb-2">CV Management</h1>
    <section class="text-center">
        <a href="{% url 'add_cv' %}"><button class="button-xl">Add CV item</button></a>
    </section>
    <section>
        <div class="row">
            <h2 class="pt-3">Choose item to edit</h2>
            <hr>
            {% for c in category %}
            <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                <h3>{{ c.friendly_name }}</h3>
                <hr>
                {% for i in items %}
                {% if i.category == c %}
                <div class="row {% if i.hide %} hidden {% endif %}">
                    <div class="col-6 m-auto">
                        <a href="{% url 'edit_cv' i.id %}"><p>{{ i.title }}</p></a>
                    </div>
                    <div class="col text-center">
                        <a href="{% url 'edit_cv' i.id %}"><button>Edit</button></a><a href="{% url 'delete_cv' i.id %}"><button>Delete</button></a>
                    </div>
                </div> 
                {% endif %}        
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
        </div>
    </section>
    </div>
    {% endblock %}