{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Edit existing cv item-->
<h1 class="p-4">Edit {{ cv.category }}</h1>
<div class="container">
    <div class="row">
        <h2>Please fill out the form below to edit item</h2>
        <hr>
        <form action="{% url 'edit_cv' cv.id %}" method="POST" enctype="multipart/form-data" id="edit_cv">
            {% csrf_token %}
            <div class="margin-bottom">
                {{ form.media }}
                {{ form | crispy }}
            </div>
            <div class="row center">           
                    <button onclick="history.back()">Undo</button><button type="submit">Save</button><a href="{% url 'delete_cv' cv.id %}"><button>Delete</button></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}