@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

/*---------------------------------general*/
body {
    font-family: 'Cabin', sans-serif;
    background-color: #ECECEA;
    color: #534F50;
}

h1 {
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

h2 {
    font-weight: 100;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #CC5500;
    text-align: center;
}

h3 {
    font-weight: 100;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: start;
    color: #CC5500;
}

.xs-heading {
    color: #534F50;
    text-transform: uppercase;
    font-size: 15px;
    text-align: left;
}

.xs-hr {
    max-width: 30px;
}

p {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

button {
    color: black;
    background-color: transparent;
    width: 60px;
    height: 40px;
    margin: 5px;
    text-decoration: none;
    box-shadow: 4px 3px 6px 4px rgba(117,151,152, .2);
    border-width: 1px;
    border-radius: 7px;
    border-color: gray;
}

.button-xl {
    width: 200px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*---------------------------------Nav*/
.navbar-brand {
    font-size: 18px;
    letter-spacing: 2px;
    color: #CC5500;
    text-transform: uppercase;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: rgba(0,0,0,0.65);
}

.nav-link {
    padding: 20px!important;
    letter-spacing: 1px;
}

.nav-link:hover,
.nav-link:focus {
    color: #CC5500!important;
}

.active {
    color: #CC5500!important;
}

/*---------------------------------home*/
.home-image {
    width: 100vw;
    max-height: 90vh;
    object-fit: contain;
}

/*---------------------------------Oeuvre*/
.container-box {
    min-height: 80vh;
    padding: 0px;
    margin: 10px;
}

.thumbnail {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    object-fit: cover;
    overflow: hidden;
    margin: 3px;
    transition: 0.1s ease-in;
}

.thumbnail:hover {
    min-width: 104px;
    max-width: 104px;
    min-height: 104px;
    max-height: 104px;
    margin: 1px;
    cursor: pointer;
}

.modal {
    --bs-modal-width: 90%!important;
}

.modal-content {
    max-width: 90vw;
}

.modal-image {
    min-width: 100%;
    max-width: 90vw;
    max-height: 90vh;
    min-height: 100%;
    object-fit: contain;
    object-position: center;
}

.modal-dialog {
    width: 90%;
    padding-top: 10px;
}

.modal-title {
    color: #534F50;
}

/*---------------------------------Contact*/
.contact {
    margin-top: 20%;
}

/*---------------------------------About*/
.about-img {
    max-width: 100%;
    object-fit: cover;
    padding-bottom: 20px;
}

/*---------------------------------Info sections*/
.news-img {
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
    padding: 20px
}

/*---------------------------------Admin sections*/
.login {
    min-width: 60%;
}

.django-ckeditor-widget {
    display: flex!important;
}

.oeuvre-box {
    width: 90%;
}

.current-image {
    max-height: 400px;
    max-width: 400px;
}

.hidden {
    background-color: #f0e9e4;
}

#modal-delete-title {
    color: #9e4a44!important;
}

/*---------------------------------Media Queries*/

@media only screen and (min-width: 600px) {
    button {
        width: 80px;
    }
}


@media only screen and (min-width: 992px) {
    .navbar-brand {
        font-size: 25px;
        padding-left: 20px!important;
    }
    h1 {
        font-size: 22px;
        letter-spacing: 2px;
    }
    .form-box {
        max-width: 80%;
    }
    .container-box {
        padding: 20px 150px;
    }
    .modal-dialog {
        width: max-content;
    }
}

@media only screen and (min-width: 1200px) {
    button {
        width: 100px;
    }
}