/*---------------------------------general*/
body {
    font-family: "Gill Sans MT";
}

/*---------------------------------Nav*/
.navbar-brand {
    padding-left: 20px!important;
}

.nav-link {
    padding: 20px!important;
}

/*---------------------------------home*/
.home-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}