{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Form to add new work to website-->
<h1 class="pt-4">Add Work</h1>
<div class="container container-fluid form-box">
    <div class="row">
        <h3>Please fill out the form below to add an item</h3>
        <hr>
        <form action="{% url 'add_work' %}" method="POST" enctype="multipart/form-data" id="add-work">
            {% csrf_token %}
            <div>
                {{ form | crispy }}
            </div>
            <div class="row text-center pt-3 pb-4">
                <div class="col">             
                    <button><a href="{% url 'oeuvre_management' %}" class="button">Undo</a></button><button type="submit" id="submit-button" class="button">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}