{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Edit work instance form-->
<h1 class="p-4">Edit {{ work.title }} - {{ work.date }}</h1>
<div class="container pb-4">
        <h2>Please fill out the form below to edit item</h2>
        <hr>
        <form action="{% url 'edit_work' work.id %}" method="POST" enctype="multipart/form-data" id="edit">
            {% csrf_token %}
            <div class="margin-bottom">
                {{ form.media }}
                {{ form | crispy }}
                {{ imageform | crispy }}
            </div>
                <div class="m-auto text-center pb-4">             
                    <button onclick="history.back()">Undo</button><button type="submit">Save</button><a href="{% url 'delete_work' work.id %}"><button>Delete</button></a>
                </div>
        </form>  
        <h2>Delete images of {{ work.title }} below</h2>
        <hr>
        <table>
            <tr>
                {% for image in images %}
                <td>
                    <div>
                        <div class="m-auto text-center">
                            <img class="thumbnail" src="{{image.image.url}}">
                        </div>
                        <div class="m-auto text-center">
                            <a href="{% url 'delete_image' image.id image.work.id %}"><button>Delete</button></a>
                        </div>
                    </div>
                </td>
                {% endfor %}
		</tr>
	</table>        
</div>
{% endblock %}