{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Oeuvre | Elisabet Stienstra</title>
{% endblock %}

{% block content %}
{% for c in category %}
<h1 class="text-center pt-4 d-lg-none">{{ c }}</h1>
{% endfor %}
<div class="m-auto text-center container-box">
    {% for image in images %}
    {% if not image.work.hide %}
      {% if image.thumbnail %}
          <a type="button" id="#image{{image.id}}" aria-label="thumbnail with image, opens modal with information on image on click"><img class="thumbnail" src="{{ image.thumbnail.url }}" alt="image {{image.work.title}} by artist Elisabet Stienstra"></a>
      {% else %}
          <a type="button" id="#image{{image.id}}" aria-label="thumbnail with image, opens modal with information on image on click"><img class="thumbnail" src="{{ image.image.url }}" alt="image {{image.work.title}} by artist Elisabet Stienstra"></a>
      {% endif %}
<!-- Modal -->
<div class="modal-custom fade" id="image{{image.id}}" tabindex="-1" aria-describedby="modal with enlarged image and more information on work" aria-hidden="true">
    <div class="modal-custom-content">
          <img class="modal-image d-flex" data-src="{{ image.image.url }}" >
          <div class="modal-cus-con">
          <div class="modal-header pt-2 ps-4 pe-4">
            <h2 class="modal-title">{{image.work.title}} ({{image.work.date |date:"Y" }})</h2>
            <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
                <div class="modal-body p-4">
                  <p class="xs-heading"> {{image.work.materials}}</p>
                  <p class="xs-heading"> {{image.work.size}}</p>
                  <hr class="xs-hr">
                  <p>{{ image.work.description | safe}}</p>
                    {% if image.work.courtesy_of_gallery %}
                      <p>Courtesy of gallery</p>
                    {% endif %}
                </div>
          </div>
    </div>
</div>

    {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script nonce="{{request.csp_nonce}}"  >
window.addEventListener("load", (event) => {

  const arrImages = document.querySelectorAll('.modal-image');
  const thumbnails = document.querySelectorAll('.thumbnail');
  // give min width or height depending on image orientation to maximise size
  function imageOreintation(images) {
    images.forEach(image => {
      // Make sure images are loaded only when needed in modal
      image.setAttribute("data-areSet", false);

      let width = image.naturalWidth;
      let height = image.naturalHeight;
      if (width > height) {
        image.classList.add('modal-wide');
      } else {
        image.classList.add('modal-high');
      }
      image.parentNode.style.width = width + 'px';
    })
  }
  // modal body width by rendered image size
  function modalBodyWidth(img) {
      let width = img.offsetWidth;
      img.nextElementSibling.style.maxWidth = width + 'px';
  }
  // add src for loading image in modal, on first click
  function checkForSrc(bolean, image) {
    if (bolean === 'false') {
      image.setAttribute("src", image.getAttribute('data-src'));
      image.setAttribute("data-areSet", true);
    }
  }
  // modal show and hide functionality
  function appendModal(images) {
    images.forEach(image => {
      image.addEventListener('click', function(){
        let id = image.parentNode.id.toString().substring(1);
        let modal = document.getElementById(id);
        let modalImage = modal.getElementsByTagName('img')[0];
        console.log(modalImage.getAttribute('src'))
        // make sure no images load unnecessarily by adding src on click
        if (modalImage.getAttribute('src') === null){
          checkForSrc(modalImage.getAttribute('data-areSet'), modalImage);
          modalImage.addEventListener("load", (event) => {
            modal.classList.add('visible');
          })
        } else {
          modal.classList.add('visible');
        }
        modalBodyWidth(modalImage);
        // close modal on button click
        modal.querySelector('.btn-close').addEventListener('click', function() {
          modal.classList.remove('visible');
        })
        // close modal by clicking anywhere outside of it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.classList.remove('visible');
          }
        }
      });
    })
  }
  imageOreintation(arrImages);
  appendModal(thumbnails);
});
</script>
{% endblock %}
