{% extends "base.html" %}
{% load static %}

{% block content %}
<!--oeuvre management page-->
<div class="container container-fluid">
<h2>Oeuvre Management</h2>
<section class="center">
    <button><a href="{% url 'add_work' %}" class="button">Add New Work</a></button>
</section>
<section>
    <div class="row">
        <h3>Choose work to edit</h3>
        <hr>
        <div class="col-12 col-lg-6">
            <h4>Sculptures</h4>
            {% for work in sculptures %}
            <div class="row">
                <div class="col-7">
                    <a href="{% url 'edit_work' work.id %}"><p>{{ work.title }} - {{ work.date |date:"Y" }}</p></a>
                </div>
                <div class="col">
                    <button><a href="{% url 'edit_work' work.id %}">Edit</a></button><button><a href="{% url 'delete_work' work.id %}">Delete</a></button>
                </div>
            </div>
            
            {% endfor %}
        </div>
        <div class="col-12 col-lg-6">
            <h4>Commissions</h4>
            {% for work in commissions %}
            <p>{{ work.title }} - {{ work.date |date:"Y" }}</p>
            {% endfor %}
        </div>
    </div>
</section>
</div>
{% endblock %}