{% load static %}

<!doctype html>
<html lang="en">
  <head>
     <!--meta data-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sito web del pittore e decoratore di Veglie ROBERTO MINGOLLA">
    <meta property="og:type" content="Artist website" />
    <meta property="og:image" content="#" />
    <meta property="og:title" content="Elizabet Stienstra" />
    <meta property="og:description" content="#" />
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="160">
    <!--favicon-->
   
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--fontawesome-->
    <script nonce="{{request.csp_nonce}}" src="https://kit.fontawesome.com/1b7622a5a9.js" crossorigin="anonymous"></script>
    <!--sweetalert2-->
    <script nonce="{{request.csp_nonce}}" src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block title %}
    <title>Elizabet Stienstra</title>
    {% endblock %}

  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <!--header-->
    <header>
       
    </header>
    <!--content-->
    <main>
    {% block content %}
    {% endblock %}
    </main>
  </div>
    <!--footer-->
    <footer>
        <!--bootstrap-->
        <script nonce="{{request.csp_nonce}}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>       
        <!--JS-->
        <script nonce="{{request.csp_nonce}}" type="text/javascript" src="{% static 'js/base.js' %}"></script>
        {% block js %}
        {% endblock %}
    </footer>
  </div>
  </body>
</html>

{% load sweetify %}
{% sweetify nonce=request.csp_nonce %}