{% load static %}

<!doctype html>
<html lang="en">
  <head>
     <!--meta data-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Elisabet Stienstra - Website of the Amsterdam based artist Elisabet Stienstra">
    <meta property="og:type" content="Artist website" />
    <meta property="og:image" content="/static/favicon/favicon-32x32.png" />
    <meta property="og:title" content="Elisabet Stienstra" />
    <meta property="og:description" content="Elisabet Stienstra - Website of the Amsterdam based artist" />
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="160">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--fontawesome-->
    <script nonce="{{request.csp_nonce}}" src="https://kit.fontawesome.com/1b7622a5a9.js" crossorigin="anonymous" async></script>
    <!--sweetalert2-->
    <script nonce="{{request.csp_nonce}}" src="https://cdn.jsdelivr.net/npm/sweetalert2@11" async></script>
    <!--css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block title %}
    <title>Elisabet Stienstra</title>
    {% endblock %}

  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <!--header-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid m-0">
              <a class="navbar-brand" href="{% url 'home' %}">Elisabet Stienstra</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'oeuvre' %}?category=sculptures">Sculptures</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'oeuvre' %}?category=commissions">Commissions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'news' %}">News</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'texts' %}">Text</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'cv' %}">CV</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                  </li>
                   <!--Account Dropdown-->
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="adminDropdown">
                    <li><a class="dropdown-item" href="{% url 'home_management' %}">Homepage Management</a></li>
                    <li><a class="dropdown-item" href="{% url 'oeuvre_management' %}">Oeuvre Management</a></li>
                    <li><a class="dropdown-item" href="{% url 'info_management' %}">Information Management</a></li>
                    <li><a class="dropdown-item" href="{% url 'cv_management' %}">Cv Management</a></li>
                    <li><a class="dropdown-item" href="{% url 'edit_about' %}">About Management</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a></li>
                </ul>
            </li>
        {% endif %}
        {% endif %}
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <!--content-->
    <main>
    {% block content %}
    {% endblock %}
    </main>
    {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}
        {% include "include/modal-delete.html" %}
      {% endif %}
    {% endif %}
  </div>
    <!--footer-->
    <footer>
        <!--bootstrap-->
        <script nonce="{{request.csp_nonce}}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>       
        <!--JS-->
        <script nonce="{{request.csp_nonce}}" type="text/javascript" src="{% static 'js/base.js' %}"></script>
        {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
          <script nonce="{{request.csp_nonce}}" type="text/javascript" src="{% static 'js/modal-delete.js' %}"></script>
          {% endif %}
        {% endif %}
        {% block js %}
        {% endblock %}
    </footer>
  </div>
  </body>
</html>

{% load sweetify %}
{% sweetify nonce=request.csp_nonce %}