{% extends "base.html" %}
{% load static %}

{% block title %}
<title>About | elisabet Stienstra</title>
{% for i in about %}
    <link rel="preload" as="image" href="{{ i.image.url }}">
{% endfor %}
{% endblock %}

{% block content %}
<!--about template-->
{% for a in about %}
<section class="container container-fluid p-4">
    <h1 class="pb-4">{{ a.title }}</h1>
    <div class="row">
        <div class="col-12 col-md-7 col-lg-5 m-auto">
            <img class="about-img" src="{{ a.image.url }}">
        </div>
    </div>
    <p>{{ a.description | safe }}</p>
</section>
{% endfor %}
{% endblock %}